<div class="register">
    <form class="custom-form" method="" action="/login">
      <h1>Datos del Artículo a Donar</h1>
          
      <div class="form-group">
        <label for="">Nombre artículo</label>
        <input type="tex" name="itemName" placeholder="Nombre del artículo" />
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Seleccionar foto del artículo</label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <div class="form-group mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Descripción del articulo</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="">Descripción</label>
        <input type="text" name="description" placeholder="Agrega una breve descripción del artículo a donar" />
      </div>
      <div class="form-group">
        <label for="">email</label>
        <input type="email" name="description" placeholder="Agrega un correo" />
      </div>
      <div class="form-group">
        <label for="">Numero de teléfono</label>
        <input type="number" name="number_contacts" placeholder="Agrega un telefono" />
      </div>
      
      <div class="form-group">
        <button type="submit" class="btn btn-success">Registrar Artículo</button>
        <button type="submit" class="btn btn-success">Limpiar</button>
        <a href="" class="btn btn-warning">Cancelar</a>
      </div>
         
      <div  class="">
          <input type="checkbox" name="opcion1" id="opcion1">
          <label>He leído y acepto los</label>
          <a class="col-md-11 ml-3">Términos y condiciones</a> 
      </div>
    </form>  
  </div>