<div class="container-fluid d-flex flex-wrap justify-content-center" mt-5>
    <div *ngFor="let carro of lista;">
        <div class="card m-3" style="width: 18rem;">
            <img width="300px" height="200px" src={{img}} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Silla de ruedas</h5>
              <p class="card-text">Silla modelo 2015 con 1 año de uso 70% de vida util</p>
              <a href="#" class="btn btn-primary">Ordenar</a>
            </div>
        </div>
    </div>
</div>