<div class="container-fluid d-flex flex-wrap justify-content-center" mt-5>
    <div *ngFor="let carro of lista;">
        <div class="card m-3" style="width: 18rem;">
            <img width="300px" height="200px" src={{img}} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">name</h5>
              <p class="card-text">description jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</p>
              <p class="card-text">email</p>
              <p class="card-text">number_contacts</p>
              <p class="card-text">status_resource_id</p>
              <p class="card-text">status_resource_stock_id</p>
              <a href="/item-detail" class="btn btn-success">Ver Detalle</a>
              <a href="#" class="btn btn-primary">Solicitar Donación</a>
            </div>
        </div>
    </div>
</div>