<app-nav-bar></app-nav-bar>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-center">
    <!--<h1><button class="btn btn-danger"></button></h1>--> 
    <div class="mx-auto btn btn-dark"><a class="nav-link" href="/registerDon">Registrarme como Donante</a></div>   
</div>
<br>
<br>
<br>
<div class="text-center">
    <!--<h1><button class="btn btn-danger"></button></h1>--> 
    <div class="mx-auto btn btn-dark"><a class="nav-link" href="/documentsBen">Registrarme como Beneficiario</a></div>   
</div>