<div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>

<div class="card mt-3">
  <div class="card-header">List of Files</div>
  <ul class="list-group list-group-flush" *ngFor="let file of fileInfos | async">
    <li class="list-group-item">
      <a href="{{ file.url }}">{{ file.name }}</a>
    </li>
  </ul>
</div>

<div class="mb-3">
  <label for="formFile" class="form-label">Archivo Adres</label>
  <input class="form-control" type="file" id="formFile" (change)="selectAdresFile($event)">
</div>

<div class="mb-3">
  <label for="formFile" class="form-label">Archivo Sisben</label>
  <input class="form-control" type="file" id="formFile" (change)="selectSisbenFile($event)">
</div>

<div class="row">
  <div class="col-4">
    <button type="button" class="btn btn-success" [disabled]="false" (click)="upload()">Cargar Archivos</button>
  </div>
</div>