 <!-- Responsive navbar-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/home">CAO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Atrás</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-color: blueviolet">
    <div class="text-center my-5">
        <img class="img-fluid  mb-4" src="https://http2.mlstatic.com/D_NQ_NP_706175-MCO47515002939_092021-O.webp" alt="..." />
        <h1 class="text-white fs-3 fw-bolder">Inmobilizador de Hombro</h1>    
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Inmobilizador de Hombro</h2>
                <div class="container">
                    <div class="row">
                      <div class="col">
                        Descripción
                      </div>
                      <div class="col">
                        Cabestrillo Inmovilizador de Hombro Ajustable.
            Consta de 2 piezas, para soporte de brazo a 90º manteniendolo en descanso y con banda pectoral que inmoviliza el hombro.
            Este Inmovilizador es indicado para:
            Fracturas subcapitales de húmero
            Luxación acromio-clavicular
            Fractura de clavícula
            Óptimo para procesos de recuperación post- operatorios y Traumas de la mano, brazo y hombro.
            Su sistema de correas ajustables ayuda a sostener en descanso el brazo a la altura del pecho y un óptimo nivel de sujeción.
            Elegante y discreto diseño anatómico.
            Fabricada en material bondeado con algodón interno hipoalergénico y transpirable que ofrece un gran confort.
            Se puede utilizar en ambos brazos.
            Tallas ADULTO Y NIÑO
            Color Azul Oscuro.
                      </div>
                    </div>
                    <div class="row">
                        <div class="col">
                          Correo
                        </div>
                        <div class="col">
                          fercho-marurr@gmail.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                          Telefono de Contacto
                        </div>
                        <div class="col">
                          3213252624
                        </div>
                      </div>
                      <div class="row">
                          <div class="col">
                            Estado del artículo
                          </div>
                          <div class="col">
                            Donado
                          </div>
                      </div>
                  </div>
                <a href="/item-detail" class="btn btn-success">Solicitar Donación</a>
              <a href="#" class="btn btn-primary">Cancelar</a>
            </div>
        </div>
    </div>
</section>

