<div class="login">
    <form class="custom-form" method="" action="/items">
      <h1>Login</h1>
      <input type="email" name="email" placeholder="Escribe tu correo" required="required"  />
      <input type="password" name="password" placeholder="Escribe tu contraseña" required="required"/>
      <button type="submit" >Ingresar</button>      
      <div (click)="visit()" class="mx-auto btn btn-link">¿Olvidaste tu contraseña?</div>
      <a class="btn btn-outline-light btn-floating m-1" href="/registerBen">Registrarme</a>

    </form>
    
  </div>