<div class="register">
  <form class="custom-form" method="" action="/login">
    <h1>Registro de Usuario Beneficiario</h1>
    <div class="text-center">
      <h2>Información Adres</h2>
    </div>
   
    <div class="form-group">
      <label for="">Número de Documento</label>
      <input type="number" name="documentId" readonly />
    </div>
    <div class="form-group">
      <label for="">Tipo de Régimen</label>
      <input type="text" name="regime" readonly />
    </div>
    <div class="text-center">
      <h2>Información Sisbén</h2>
    </div>
    
    <div class="form-group">
      <label for="">Nilvel del Sisbén</label>
      <input type="text" name="documentId" readonly form-control/>
    </div>
    <div class="form-group">
      <label for="">Nombres</label>
      <input type="text" name="name" readonly form-control/>
    </div>
    <div class="form-group">
      <label for="">Apellidos</label>
      <input type="text" name="lastName" readonly form-control/>
    </div>
    <div class="form-group">
      <label for="">Tipo de Documento</label>
      <input type="text" name="documentType" readonly form-control/>
    </div>
    <div class="form-group">
      <label for="">Número de Documento</label>
      <input type="number" name="documentId" readonly form-control/>
    </div>
    <div class="form-group">
      <label for="">Departamento</label>
      <input type="text" name="departament" readonly form-control/>
    </div>
    <div class="form-group">
      <label for="">Municipio</label>
      <input type="texts" name="municipality" readonly form-control/>
    </div>
    <input type="email" name="email" placeholder="Escribe tu correo" required="required"  />
    <input type="telefono" name="telefono" placeholder="Escribe tu numero de telefono" required="required"  />
    <input type="password" name="password" placeholder="Escribe tu contraseña" required="required"/>
    <input type="password" name="password" placeholder="Escribe nuevamente tu contraseña" required="required"/>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Registrarme</button>
      <button type="submit" class="btn btn-success">Limpiar</button>
      <a href="" class="btn btn-warning">Cancelar</a>
    </div>
       
    <div  class="">
        <input type="checkbox" name="opcion1" id="opcion1">
        <label>He leído y acepto los</label>
        <a class="col-md-11 ml-3">terminos y condiciones</a> 
    </div>
  </form>  
</div>